# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# React Native
build/
.gradle
.m2
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Dist
dist/
.next/
